[user]
  name = AJ Castro
  email = anthonyjr.castro@proton.me
[init]
  defaultBranch = main
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  unstage = reset HEAD --
  last = log -1 HEAD
[difftool "nvim_difftool"]
  cmd = nvim -c \"packadd nvim.difftool\" -d \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = nvim_difftool
